<!DOCTYPE html>
<html>
<head>
    <title> Administrator Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>

<body class="bg-light p-4">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="alert alert-info mt-3">{{ messages[0] }}</div>
      {% endif %}
    {% endwith %}
    <div class="card shadow mb-4 bg-info">
        <div class="card body">
            <h2><i class="bi bi-people"></i> All Users and Accounts</h2>
            <table class="table table-bordered table-hover table-responsive">
                <thead class="table-primary">
                    <tr>
                        <th>User ID</th>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Account ID</th>
                        <th>Account Type</th>
                        <th>Balance</th>
                        <th>Interest</th>
                        <th>Role</th>
                    </tr>
                </thead>
                <tbody>
                    {% for u in users %}
                    <tr>
                        <td>{{ u[0] }}</td>
                        <td>{{ u[1] }} {{ u[2] }}</td>
                        <td>{{ u[3] }}</td>
                        <td>{{ u[5] }}</td>
                        <td class="badge bg-secondary">{{ u[7] }}</td>
                        <td>{{ u[6] }}</td>
                        <td>{{ u[8] }}</td>
                        <td class="badge bg-info text-dark">{{ u[4] }}</td>
                        <td>
                            <form method="post">
                                <button type="submit" class="btn btn-danger" name="user_id_to_delete" value={{u[0]}}>delete</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>

        </div>
    </div>
    <a href="/create_account" class="btn btn-primary">Create New User Account</a>
    <a href="/" class="btn btn-secondary ms-2">Back</a>
    <form action="/calculate_interest" method="post" style="display:inline;">
        <button type="submit" class="btn btn-success">Add Interest</button>
    </form>



    <h2 class="mt-5"><i class="bi bi-person-badge"></i> All Employees</h2>
    <table class="table table-bordered table-hover table-striped">
        <thead class="table-info">
            <tr>
                <th>Employee ID</th>
                <th>Name</th>
                <th>Username</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            {% for emp in employees %}
            <tr>
                <td>{{ emp[0] }}</td>
                <td>{{ emp[1] }} {{ emp[2] }}</td>
                <td>{{ emp[3] }}</td>
                <td class="badge bg-danger">{{ emp[4] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>


