<!DOCTYPE html>
<html>
<head>
    <title>Flask Bank</title>
</head>
<body>
    <p>Hey</p>
    <h1>Python Bank!</h1>
    <p> Hello {{name}} </p>
    <h2>Checkings</h2>
    <form method="post">
        <input type="hidden" name="type" value="checkings">
        <button type="submit">transactions</button>
    </form>
    <p> {{check_bal}} </p>
    <h2>Savings</h2>
    <form method="post">
        <input type="hidden" name="type" value="savings">
        <button type="submit">transactions</button>
    </form>
    <p> {{save_bal}} </p>
</body>
</html>